@using RentACar_UI.Areas.AdminPanel.Models;
@model CustomerIndexViewModel


@{
    Layout = "/Areas/AdminPanel/Views/Shared/_LayoutAdmin.cshtml";
}



@section customCss{
    <link rel="stylesheet" href="~/adminPanel/plugins/datatables-bs4/css/dataTables.bootstrap4.min.css">
    <link rel="stylesheet" href="~/adminPanel/plugins/datatables-responsive/css/responsive.bootstrap4.min.css">

    <link rel="stylesheet" href="~/adminPanel/plugins/datatables-buttons/css/buttons.bootstrap4.min.css">
}


@section customScripts{
    <script src="~/adminPanel/plugins/jquery/jquery.min.js"></script>
    <script src="~/adminPanel/plugins/bootstrap/js/bootstrap.bundle.min.js"></script>
    <script src="~/adminPanel/plugins/datatables/jquery.dataTables.min.js"></script>
    <script src="~/adminPanel/plugins/datatables-bs4/js/dataTables.bootstrap4.min.js"></script>
    <script src="~/adminPanel/plugins/datatables-responsive/js/dataTables.responsive.min.js"></script>
    <script src="~/adminPanel/plugins/datatables-responsive/js/responsive.bootstrap4.min.js"></script>
    <script src="~/adminPanel/plugins/datatables-buttons/js/dataTables.buttons.min.js"></script>
    <script src="~/adminPanel/plugins/datatables-buttons/js/buttons.bootstrap4.min.js"></script>
    <script src="~/adminPanel/plugins/jszip/jszip.min.js"></script>
    <script src="~/adminPanel/plugins/pdfmake/pdfmake.min.js"></script>
    <script src="~/adminPanel/plugins/pdfmake/vfs_fonts.js"></script>
    <script src="~/adminPanel/plugins/datatables-buttons/js/buttons.html5.min.js"></script>
    <script src="~/adminPanel/plugins/datatables-buttons/js/buttons.print.min.js"></script>
    <script src="~/adminPanel/plugins/datatables-buttons/js/buttons.colVis.min.js"></script>
}
<script src="~/lib/jquery/dist/jquery.min.js"></script>
<script>
    $(document).ready(function () {
        $("#tblCustomer").DataTable({
            "paging": true,
            "lengthChange": false,
            "searching": false,
            "ordering": true,
            "info": true,
            "autoWidth": false,
            "responsive": true,
        });

        $(document).on("click", ".btnDelete", function () {
            var cusID = $(this).attr("CustomerID");
            var tr = $(this).parent().parent();
            Swal.fire({
                title: "Ürün Silinecek",
                text: "Emin misiniz",
                icon: "warning",
                showCancelButton: true,
                confirmButtonColor: "#3085d6",
                cancelButtonColor: "#d33",
                confirmButtonText: "Sil"
            }).then((result) => {
                if (result.isConfirmed) {
                    // sunucu ile haberleşip işlemi yapacağım.
                    $.ajax({
                        url: "/AdminPanel/Customer/DeleteCustomer/" + cusID,
                        method: "post",
                        success: function (response) {
                            if (response.result) {
                                Swal.fire({
                                    title: "Başarılı",
                                    text: response.message,
                                    icon: "success",
                                    confirmButtonColor: "#3085d6",
                                    cancelButtonColor: "#d33",
                                    confirmButtonText: "Kapat"
                                }).then((result) => {
                                    if (result.isConfirmed) {
                                        $(tr).remove();
                                        //window.location.reload();
                                    }
                                });

                            }
                            else {
                                Swal.fire({
                                    position: "top-end",
                                    icon: "error",
                                    title: response.message,
                                    showConfirmButton: false,
                                    timer: 1500
                                });
                            }
                        }
                    });

                }
                else {

                }
            });
        });




        $(document).on("click", ".btnEdit", function () {
            var cusID = $(this).attr("CustomerID");
            $.ajax({
                url: "/AdminPanel/Customer/GetCustomerById/" + cusID,
                method: "post",
                success: function (response) {
                    if (response.result) {
                        $("#CustomerID").val(response.customer.customerID);
                        $("#txtCustomerNameEdit").val(response.customer.customerName);
                        $("#txtCustomerLastNameEdit").val(response.customer.customerLastName);
                        $("#txtCustomerEmailEdit").val(response.customer.customerEmail);
                        $("#txtCustomerPhoneNumberEdit").val(response.customer.customerPhoneNumber);
                    }
                }
            });
        });

        $("#btnEdit").click(function () {
            var model = {
                CustomerID: $("#CustomerID").val(),
                CustomerName: $("#txtCustomerNameEdit").val(),
                CustomerLastName: $("#txtCustomerLastNameEdit").val(),
                CustomerEmail: $("#txtCustomerEmailEdit").val(),
                CustomerPhoneNumber: $("#txtCustomerPhoneNumberEdit").val(),
            }

            $.ajax({
                url: "/AdminPanel/Customer/EditCustomer",
                method: "post",
                datatype: "json",
                data: { dto: model },
                success: function (response) {
                    if (response.result) {
                        Swal.fire({
                            title: "Başarılı",
                            text: response.message,
                            icon: "success",
                            confirmButtonColor: "#3085d6",
                            cancelButtonColor: "#d33",
                            confirmButtonText: "Kapat"
                        }).then((result) => {
                            if (result.isConfirmed) {
                                $("#divEditCustomer").modal("hide");
                                window.location.reload();
                            }
                        });

                    }
                    else {
                        Toast.fire({
                            icon: 'error',
                            title: response.message
                        })
                    }
                }

            });
        });
    });
</script>

<div class="row">

    <div class="card col-12">
        <div class="card-header">
            <h3 class="card-title">Kayıtlı Tüm Üyeler</h3>
        </div>
        <!-- /.card-header -->
        <div class="card-body">
            <table id="tblCustomer" class="table table-bordered table-striped">
                <thead>
                    <tr>
                        <th>Adı</th>
                        <th>Soyadı</th>
                        <th>Telefon Numarası</th>
                        <th>Email Adresi</th>
                        <th>Sil</th>
                        <th>Düzenle</th>
                    </tr>
                </thead>
                <tbody>
                    @foreach (var item in Model.ListCustomers)
                    {
                        <tr>
                            <td>@item.CustomerName</td>
                            <td>@item.CustomerLastName</td>
                            <td>@item.CustomerPhoneNumber</td>
                            <td>@item.CustomerEmail</td>
                            <td>
                                <button CustomerID="@item.CustomerID" class="btn btn-danger btnDelete">
                                    Sil
                                </button>
                            </td>
                            <td>
                                <button CustomerID="@item.CustomerID" class="btn btn-warning btnEdit" data-toggle="modal" data-target="#divEditCustomer">
                                    Düzenle
                                </button>
                            </td>
                        </tr>
                    }


                </tbody>
            </table>
        </div>
        <!-- /.card-body -->
    </div>

</div>
<div class="modal fade" id="divEditCustomer">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <h4 class="modal-title">Kullanıcı Güncelle</h4>
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button>
            </div>
            <div class="modal-body">
                <form>
                    <input id="CustomerID" type="hidden" class="form-control" />
                    <div class="form-group">
                        <label for="CustomerName">Kullanıcı Adı</label>
                        <input type="text" class="form-control" id="txtCustomerNameEdit">
                    </div>
                    <div class="form-group">
                        <label for="CustomerLastName">Kullanıcı Soyadı</label>
                        <input type="text" class="form-control" id="txtCustomerLastNameEdit">
                    </div>
                    <div class="form-group">
                        <label for="CustomerPhoneNumber">Kullanıcı Telefon Numarası</label>
                        <input type="number" class="form-control" id="txtCustomerPhoneNumberEdit">
                    </div>
                    <div class="form-group">
                        <label for="CustomerEmail">Kullanıcı Email Adresi</label>
                        <input type="text" class="form-control" id="txtCustomerEmailEdit">
                    </div>
                </form>
            </div>
            <div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-default" data-dismiss="modal">Kapat</button>
                    <button id="btnEdit" type="submit" class="btn btn-success">Güncelle</button>
                </div>

            </div>
        </div>
        <!-- /.modal-content -->
    </div>
    <!-- /.modal-dialog -->
</div>



